[mcu]
##	MCU for X/Y/E steppers main MCU
##	[X in X] - B Motor
##	[Y in Y] - A Motor
##	[E in E0] - Extruder
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_lpc1769_04F0FF1125813AAF18CD6B5CC22000F5-if00
##--------------------------------------------------------------------

[include mainsail.cfg]
[include raspi_sensors.cfg]
[include start_end_macros.cfg]
[include select_pa_macro.cfg]


[printer]
kinematics: corexy
max_velocity: 250  
max_accel: 3000    			#Max 4000
max_accel_to_decel: 3000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0


#####################################################################
# 	X/Y Stepper Settings
#####################################################################

[stepper_x]
## (B Motor)
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: P1.29

position_min: 0
position_max: 195
position_endstop: 0
homing_positive_dir: false
homing_speed: 50   #Max 100
homing_retract_dist: 5

[tmc2209 stepper_x]
uart_pin: P1.10
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

##--------------------------------------------------------------------

[stepper_y]
## (A Motor)
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: P1.28

position_min: 0
position_max: 198
position_endstop: 198
homing_positive_dir: true
homing_speed: 50  #Max 100
homing_retract_dist: 5

[tmc2209 stepper_y]
uart_pin: P1.9
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z MCU - In X Position
## Z Stepper
[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
rotation_distance: 2
microsteps: 16
endstop_pin: probe:z_virtual_endstop
##endstop_pin: P1.27
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: 0
position_max: 200

position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: P1.8
interpolate: true
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Extruder
#####################################################################

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
full_steps_per_rotation: 200   #200 for 1.8 degree, 400 for 0.9 degree
gear_ratio: 80:20
rotation_distance: 23.132530	#Bondtech 5mm Drive Gears 22.6789511
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 1150
max_extrude_only_velocity: 100
max_extrude_only_accel: 10000
max_extrude_cross_section: 9999
heater_pin: P2.7
sensor_type: NTC 100K beta 3950
sensor_pin: P0.24
min_temp: 0
max_temp: 270
max_power: 1.0
min_extrude_temp: 180
# control = pid
# pid_kp = 19.684
# pid_ki = 1.103
# pid_kd = 87.839
##	Try to keep pressure_advance below 1.0
##pressure_advance: 0.048
##	Default is 0.040, leave stock
##pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: P1.4
interpolate: false
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - Z board, Fan Pin
heater_pin: P2.5
sensor_type: NTC 100K beta 3950
sensor_pin: P0.25
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 1
min_temp: 0
max_temp: 120
# control = pid
# pid_kp = 64.811
# pid_ki = 2.160
# pid_kd = 486.085

#####################################################################
# 	Timeout
#####################################################################

[idle_timeout]
timeout: 1800

####################################################################
# 	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - XYE board, HE1 Connector
pin: P2.4
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
##	Print Cooling Fan - XYE board, Fan Pin
pin: P2.3
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[bltouch]
sensor_pin: P1.27
control_pin: P2.0
x_offset: 29.0
y_offset: -7
#z_offset: 0
samples: 2
sample_retract_dist: 3.0
probe_with_touch_mode: True
stow_on_each_sample: false
#pin_move_time: 1

[safe_z_home]
home_xy_position: 70,96 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 50

[bed_mesh]
speed: 250
horizontal_move_z: 5
mesh_min: 30,18
mesh_max: 195,190
probe_count: 5,5
algorithm: bicubic
bicubic_tension: 0.2
relative_reference_index: 12
fade_start: 1
fade_end: 5
##fade_target: 0
move_check_distance: 3.0
split_delta_z: 0.010
mesh_pps: 2,2

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.684
#*# pid_ki = 1.103
#*# pid_kd = 87.839
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.098750, -0.112500, -0.111875, -0.087813, -0.081875
#*# 	-0.028125, -0.044063, -0.056250, -0.035000, -0.017813
#*# 	0.045937, 0.017812, 0.000000, 0.016875, -0.003750
#*# 	0.021250, 0.000313, -0.027500, -0.028437, -0.056875
#*# 	-0.050312, -0.087500, -0.124062, -0.132500, -0.136562
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 18.0
#*# x_count = 5
#*# max_y = 190.0
#*# mesh_x_pps = 2
#*# max_x = 195.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.811
#*# pid_ki = 2.160
#*# pid_kd = 486.085
#*#
#*# [bltouch]
#*# z_offset = 3.410
